node_modules
.next
.netlify
out
build
.env
.env.local
.env*.local
.DS_Store
*.pem
.vercel
.turbo
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.vscode
.idea
*.tsbuildinfo
next-env.d.ts
